<section class="character py-4 bg-light">
  <div class="container-lg">
    <div class="card p-3 w-100" *ngIf="character$ | async as character">
      <div class="row">
        <div class="col-2 text-center">
          <img src="assets/img/person.svg" width="100" alt="avatar">
        </div>
        <div class="col-10">
          <div class="card-body">
            <div class="card-title">
              <h5>{{ character.properties.name }}</h5>
              <p>Gender: {{ character.properties.gender }}</p>
              <p>Height: {{ character.properties.height }} cm</p>
              <p>Mass: {{ character.properties.mass }}</p>
              <p>Hair Colo: {{ character.properties.hair_color }}</p>
              <p>Skin: {{ character.properties.skin_color }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
