<div class="pt-4 text-center card-top">
  <img src="assets/img/person.svg" class="card-img-top" alt="character">
</div>

<div class="card-body">
  <div class="card-title text-center">
    <h5 class="mb-1">{{ character.get('name') }}</h5>
  </div>
</div>

<ul class="list-group list-group-flush text-center border-0">
  <li class="list-group-item">Gender: {{ character.get('gender') }}</li>
  <li class="list-group-item">Height: {{ character.get('height') }} cm</li>
  <li class="list-group-item">Mass: {{ character.get('mass') }} kg</li>
</ul>
