<section class="films">
  <div class="films__container">
    <ul class="films-list" *ngIf="films$ | async as films">
      <li class="films-list__item">
        <app-film-filter>
          <input type="text" [formControl]="filter" placeholder="search by title">
        </app-film-filter>
      </li>
      <li class="films-list__item" *ngFor="let film of films | titleFilter: filterValue">
        <app-film-card [film]="film"></app-film-card>
      </li>
    </ul>

    <ng-template>
      <h2>Film not found!</h2>
    </ng-template>
  </div>
</section>

