<section class="characters py-4 bg-light">

  <div class="container-lg">
    <app-character-toolbar></app-character-toolbar>
    <div class="row g-4" *ngIf="characters$ | async as characters">
      <div appCharacterLayout *ngFor="let character of characters">
        <app-character-card [character]="character" [class]="layoutType$ | async"></app-character-card>
      </div>
      <div class="col-12" *ngIf="pagination$ | async as pagination">
        <app-pagination [pageSize]="pagination.size"
                        [totalElements]="pagination.totalElements"
                        [currentPage]="pagination.page"
                        (select)="onPage($event)"
        >
        </app-pagination>
      </div>
    </div>
    <ng-template [ngIf]="(characters$ | async)?.length === 0">
      <div class="alert alert-warning" role="alert">
        Character not found!
      </div>
    </ng-template>
  </div>
</section>

<div class="loader position-fixed top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center" *ngIf="loading$ | async">
  <div class="spinner-grow text-warning" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

