<section class="home py-5">
  <div class="container-lg">
    <div class="row g-3">
      <div class="col-4">
        <div class="card shadow-sm text-center">
          <img src="../../assets/img/films.png" class="card-img-top" alt="...">
          <div class="card-body bg-light">
            <h4 class="card-title">Films</h4>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card h-100 shadow-sm text-center">
          <img src="../../assets/img/characters.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">Characters</h4>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card text-center">
          <img src="../../assets/img/species.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">Species</h4>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card text-center">
          <img src="../../assets/img/starships.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">Starships</h4>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card text-center">
          <img src="../../assets/img/vehicles.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">Vehicles</h4>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card text-center">
          <img src="../../assets/img/planets.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">Planets</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

