<input class="form-control me-2"
       type="search"
       placeholder="Search"
       aria-label="Search"
       [formControl]="search"
>
<div class="card border-0 shadow rounded overflow-hidden" *ngIf="results$ | async as results">
  <ul class="list-group">
    <ng-template ngFor [ngForOf]="results | slice: 0 : 10" let-item>
      <app-search-item [item]="item"></app-search-item>
    </ng-template>
    <a href="#" class="list-group-item list-group-item-action shadow-none text-primary">
      See all result
    </a>
  </ul>
</div>

