<header class="header">
  <section class="header__top">
    <a routerLink="/" class="header__logo">
      <img src="assets/img/logo.png" alt="logo">
    </a>
  </section>
  <nav class="header__nav">
    <div class="header__container">
      <ul class="nav">
        <li class="nav__item">
          <a routerLink="characters" class="nav__link">Characters</a>
        </li>
        <li class="nav__item">
          <a routerLink="films" class="nav__link active">Films</a>
        </li>
        <li class="nav__item">
          <a routerLink="/films" class="nav__link">Planets</a>
        </li>
        <li class="nav__item">
          <a routerLink="species" class="nav__link">Species</a>
        </li>
        <li class="nav__item">
          <a routerLink="starships" class="nav__link">Starships</a>
        </li>
        <li class="nav__item">
          <a routerLink="vehicles" class="nav__link">Vehicles</a>
        </li>
      </ul>
    </div>
  </nav>

</header>
