<header class="header">
  <div class="container">
    <ul class="nav">
      <li class="nav__item">
        <a href="" class="nav__link">Characters</a>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link">Films</a>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link">Planets</a>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link">Species</a>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link">Starships</a>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link">Vehicles</a>
      </li>
    </ul>
  </div>
</header>
